.navbar-li {
  display: inline-block;
  text-align: center;
}

.nav-item {
  width: 33%;
}

.navbar {
  background: #490549;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 24px;
}