.jumbotron { 
  background-image: url(https://i.imgur.com/qtZ7F1M.png)
}

.title {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: sans-serif;
}

.text-center {
  text-align: center!important;
  color: white;
  font-size: 24px;
}