.card {
  background-size: cover;
  background-position: 50%;
  height: 170px;
  width: 170px;
  margin: 8px 25px;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  cursor: pointer;
}


.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 100%
}


.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
